<header class="site-header">
  <div class="wrapper">
    <a class="site-brand" href="{{ '/' | relative_url }}">
      <img class="site-avatar" src="{{ '/assets/avatar.jpg' | relative_url }}" alt="" onerror="this.style.display='none'">
      <span class="site-title">{{ site.title | escape }}</span>
    </a>
    <nav class="site-nav">
      <a class="page-link" href="{{ '/' | relative_url }}">Writing</a>
      <a class="page-link" href="https://github.com/Funghi88">GitHub</a>
      <a class="page-link" href="https://x.com/miccakitt">X</a>
    </nav>
  </div>
</header>
